<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5"> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginTeacherServlet</servlet-name>
    <servlet-class>Servlet.LoginTeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginStudentServlet</servlet-name>
    <servlet-class>Servlet.LoginStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherFirstevlet</servlet-name>
    <servlet-class>Servlet.TeacherFirstevlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowClassesServlet</servlet-name>
    <servlet-class>Servlet.ShowClassesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowResourceServlet</servlet-name>
    <servlet-class>Servlet.ShowResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginTeacherServlet</servlet-name>
    <url-pattern>/LoginTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginStudentServlet</servlet-name>
    <url-pattern>/LoginStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherFirstevlet</servlet-name>
    <url-pattern>/TeacherFirstevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowClassesServlet</servlet-name>
    <url-pattern>/ShowClassesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowResourceServlet</servlet-name>
    <url-pattern>/ShowResourceServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateClassServlet</display-name>
    <servlet-name>CreateClassServlet</servlet-name>
    <servlet-class>Servlet.CreateClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateClassServlet</servlet-name>
    <url-pattern>/CreateClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadResourceServlet</display-name>
    <servlet-name>UploadResourceServlet</servlet-name>
    <servlet-class>Servlet.UploadResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadResourceServlet</servlet-name>
    <url-pattern>/UploadResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassesServlet</display-name>
    <servlet-name>ClassesServlet</servlet-name>
    <servlet-class>Servlet.ClassesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassesServlet</servlet-name>
    <url-pattern>/ClassesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowProblemServlet</display-name>
    <servlet-name>ShowProblemServlet</servlet-name>
    <servlet-class>Servlet.ShowProblemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProblemServlet</servlet-name>
    <url-pattern>/ShowProblemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowClaServlet</display-name>
    <servlet-name>ShowClaServlet</servlet-name>
    <servlet-class>Servlet.ShowClaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowClaServlet</servlet-name>
    <url-pattern>/ShowClaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertClaServlet</display-name>
    <servlet-name>InsertClaServlet</servlet-name>
    <servlet-class>Servlet.InsertClaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertClaServlet</servlet-name>
    <url-pattern>/InsertClaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectRP</display-name>
    <servlet-name>SelectRP</servlet-name>
    <servlet-class>Servlet.SelectRP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectRP</servlet-name>
    <url-pattern>/SelectRP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>qingjiaServlet</display-name>
    <servlet-name>qingjiaServlet</servlet-name>
    <servlet-class>Servlet.qingjiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qingjiaServlet</servlet-name>
    <url-pattern>/qingjiaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerServlet</display-name>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>Servlet.AnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/AnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SResourceServlet</display-name>
    <servlet-name>SResourceServlet</servlet-name>
    <servlet-class>Servlet.SResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SResourceServlet</servlet-name>
    <url-pattern>/SResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RaiseServlet</display-name>
    <servlet-name>RaiseServlet</servlet-name>
    <servlet-class>Servlet.RaiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RaiseServlet</servlet-name>
    <url-pattern>/RaiseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SqingjiaServlet</display-name>
    <servlet-name>SqingjiaServlet</servlet-name>
    <servlet-class>Servlet.SqingjiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SqingjiaServlet</servlet-name>
    <url-pattern>/SqingjiaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertRaiseServlet</display-name>
    <servlet-name>InsertRaiseServlet</servlet-name>
    <servlet-class>Servlet.InsertRaiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertRaiseServlet</servlet-name>
    <url-pattern>/InsertRaiseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAnswerServlet</display-name>
    <servlet-name>InsertAnswerServlet</servlet-name>
    <servlet-class>Servlet.InsertAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAnswerServlet</servlet-name>
    <url-pattern>/InsertAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upload</display-name>
    <servlet-name>upload</servlet-name>
    <servlet-class>Servlet.upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProblemServlet</display-name>
    <servlet-name>InsertProblemServlet</servlet-name>
    <servlet-class>Servlet.InsertProblemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProblemServlet</servlet-name>
    <url-pattern>/InsertProblemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePwdServlet</display-name>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <servlet-class>Servlet.UpdatePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <url-pattern>/UpdatePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sProblemServlet</display-name>
    <servlet-name>sProblemServlet</servlet-name>
    <servlet-class>Servlet.sProblemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sProblemServlet</servlet-name>
    <url-pattern>/sProblemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SyllabusServlet</display-name>
    <servlet-name>SyllabusServlet</servlet-name>
    <servlet-class>Servlet.SyllabusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SyllabusServlet</servlet-name>
    <url-pattern>/SyllabusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s</display-name>
    <servlet-name>s</servlet-name>
    <servlet-class>Servlet.s</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s</servlet-name>
    <url-pattern>/s</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downLoadServlet</display-name>
    <servlet-name>downLoadServlet</servlet-name>
    <servlet-class>Servlet.downLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downLoadServlet</servlet-name>
    <url-pattern>/downLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>readSyllabusServlet</display-name>
    <servlet-name>readSyllabusServlet</servlet-name>
    <servlet-class>Servlet.readSyllabusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readSyllabusServlet</servlet-name>
    <url-pattern>/readSyllabusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>textServlet</display-name>
    <servlet-name>textServlet</servlet-name>
    <servlet-class>Servlet.textServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>textServlet</servlet-name>
    <url-pattern>/textServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertTextServlet</display-name>
    <servlet-name>insertTextServlet</servlet-name>
    <servlet-class>Servlet.insertTextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertTextServlet</servlet-name>
    <url-pattern>/insertTextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartTestServlet</display-name>
    <servlet-name>StartTestServlet</servlet-name>
    <servlet-class>Servlet.StartTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartTestServlet</servlet-name>
    <url-pattern>/StartTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getScoreServlet</display-name>
    <servlet-name>getScoreServlet</servlet-name>
    <servlet-class>Servlet.getScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getScoreServlet</servlet-name>
    <url-pattern>/getScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkScoreServlet</display-name>
    <servlet-name>checkScoreServlet</servlet-name>
    <servlet-class>Servlet.checkScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkScoreServlet</servlet-name>
    <url-pattern>/checkScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedBackServlet</display-name>
    <servlet-name>FeedBackServlet</servlet-name>
    <servlet-class>Servlet.FeedBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedBackServlet</servlet-name>
    <url-pattern>/FeedBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>takeNotesServlet</display-name>
    <servlet-name>takeNotesServlet</servlet-name>
    <servlet-class>Servlet.takeNotesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>takeNotesServlet</servlet-name>
    <url-pattern>/takeNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addNoteServlet</display-name>
    <servlet-name>addNoteServlet</servlet-name>
    <servlet-class>Servlet.addNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNoteServlet</servlet-name>
    <url-pattern>/addNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheckResourceServlet</display-name>
    <servlet-name>ScheckResourceServlet</servlet-name>
    <servlet-class>Servlet.ScheckResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheckResourceServlet</servlet-name>
    <url-pattern>/ScheckResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckClassScore</display-name>
    <servlet-name>CheckClassScore</servlet-name>
    <servlet-class>Servlet.CheckClassScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckClassScore</servlet-name>
    <url-pattern>/CheckClassScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>analysisServlet</display-name>
    <servlet-name>analysisServlet</servlet-name>
    <servlet-class>Servlet.analysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>analysisServlet</servlet-name>
    <url-pattern>/analysisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitServlet</display-name>
    <servlet-name>QuitServlet</servlet-name>
    <servlet-class>Servlet.QuitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitServlet</servlet-name>
    <url-pattern>/QuitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>restPWDServlet</display-name>
    <servlet-name>restPWDServlet</servlet-name>
    <servlet-class>Servlet.restPWDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>restPWDServlet</servlet-name>
    <url-pattern>/restPWDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sSyllabusServlet</display-name>
    <servlet-name>sSyllabusServlet</servlet-name>
    <servlet-class>Servlet.sSyllabusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sSyllabusServlet</servlet-name>
    <url-pattern>/sSyllabusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SdownLoadServlet</display-name>
    <servlet-name>SdownLoadServlet</servlet-name>
    <servlet-class>Servlet.SdownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SdownLoadServlet</servlet-name>
    <url-pattern>/SdownLoadServlet</url-pattern>
  </servlet-mapping>
</web-app>